body {
    margin: 0;
    max-width: 100%;
}

header {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    width: 100%;
    height: 100px;
    padding: 0 25px;
    border-bottom: 1px solid #2f005f;
    color: aliceblue;
    background-image: linear-gradient(#370f5f, #a041ff);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header > div
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#header-links
{
    display: flex;
    width: 20%;
    justify-content: space-between;
}


#header-links a,
#header-links a:active,
#header-links a:visited {
    text-decoration: none;
    color: white;
    font-weight: 600;
    transition-duration: 0.2s;
    
}

#header-links a:hover
{
    text-shadow: 0 0  7px #d1d1d1;
    font-size: large;
}

main
{
    background-image: linear-gradient(#fff, #d1d1d1);
    padding: 20px 50px;
}

footer {
    border-top: 1px solid #2f005f;
    color: aliceblue;
    background-image: linear-gradient(#652c9f, #370f5f);
    padding: 30px;
    text-align: center;
}