div{
    border:1px gray solid;
    margin:5px;
}
.d3{
    
    margin-left: 0px;
    
}
.d2{
 margin-right: 0px;
 
}
.d1{
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-gap: 20px;
    
}
.estrela{
    width: 25px;
    height: 25px;
}
.avl{
   background-color: gray; 
   border-radius: 10px;
   width: 25%;
   height: 25px;
}
.avalia{
    display:flex;
    align-items: center;
}
.prc{
    margin: 0px;
    
}

